.dguulu0{display:inline-block;padding:.2em .6em;margin:.1em;background-color:var(--uxe4kj1);color:var(--uxe4kj3);font-size:.8em;border-radius:4px;text-decoration:none}.dguulu0:hover{background-color:var(--uxe4kj2)}
