name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup mise and Node.js
        uses: ./.github/actions/setup-mise

      - run: bun ci
      - run: bun run build

      # remark-link-card-plus assets are put in public/, so need to copy them to dist/
      - name: Copy remark-link-card-plus assets
        run: cp -r public/remark-link-card-plus ./dist/

      - name: GitHub Pages custom domain setting
        run: echo "blog.nasustim.com" > ./dist/CNAME

      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./dist

      - uses: actions/deploy-pages@v4.0.5
