name: Test Renovate

on:
  push:
    paths:
      - renovate.json
      - .github/workflows/test_renovate.yml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6
      - name: Setup mise and Node.js
        uses: ./.github/actions/setup-mise
      - name: Test Renovate
        run: npx --package renovate -c 'renovate-config-validator'
