name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
      - uses: actions/checkout@v6
      - name: Setup mise and Node.js
        uses: ./.github/actions/setup-mise
      - run: bun ci
      - run: bun run biome:ci
      - run: bun run build
  document-test:
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
      - uses: actions/checkout@v6
      - name: Setup mise and Node.js
        uses: ./.github/actions/setup-mise
      - run: bun ci
      - run: bun run textlint:ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
